.chat-wrapper {
    height: 90%;

    header {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        padding: 30px 30px 14px 30px;
        gap: 20px;

        border-bottom: 1px solid var(--border-color);

        button {
            border: none;
            background: transparent;
        }

        .museum {
            height: 40px;
            width: 40px;
        }

        .status {
            
            p {
                color: var(--primary-color);
                font-weight: bold;
            }

            span {
                font-weight: 500;
                color: var(--online-color);
            }
        }
    }

    .chat-content {
        height: 100%;
    }
}