.chat-wrapper {
    height: 100%;
    max-height: 100vh;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    padding: 0 18px 36px 18px;
    gap: 18px;

    header {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        padding: 30px 30px 14px 30px;
        gap: 20px;

        border-bottom: 1px solid var(--border-color);

        button {
            border: none;
            background: transparent;
        }

        .museum {
            height: 40px;
            width: 40px;
        }

        .status {
            
            p {
                color: var(--primary-color);
                font-weight: bold;
            }

            span {
                font-weight: 500;
                color: var(--online-color);
            }
        }
    }

    .chat-content {
        height: 100%;
    }

    form {
        border-radius: 30px;
        box-shadow: 5px 4px 20px rgba(0, 0, 0, 0.2);
        color: var(--text-secondary);
        display: flex;
        align-items: center;
        padding: 18px 22px;

        input {
            width: 90%;
        }

        button {
            height: 24px;
        }

        input, button {
            border: none;
            background-color: transparent;
        }
    }
}