<main class="chat-wrapper">
    <header>
        <button>
            <icon-arrow-left></icon-arrow-left>
        </button>
        <icon-museum class="museum"></icon-museum>
        <div class="status">
            <p>Museu</p>
            <span>• Online</span>
        </div>
    </header>
    <section class="chat-content">
        <chat-suggestions 
            (questionSelected)="sendSuggestedQuestion($event)"
            *ngIf="messages.length < 1"
        >
        </chat-suggestions>
        <chat-dialog [messages]="messages"></chat-dialog>
    </section>
</main>
