.home-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 100%;

    padding: 34px 0;

    header {
        text-align: center;
        max-width: 264px;

        h1 {
            color: var(--primary-color);
            font-size: 24px;
            margin-bottom: 14px;
        }

        p {
            font-size: 14px;
            color: var(--text-primary);
        }
    }

    .img-section {
        display: flex;
        flex-direction: column;

        .sparkle {
            position: absolute;
            margin-left: 14px;
        }
    }

    button {
        background-color: var(--primary-color);
        width: 90%;
        color: white;
        font-size: 20px;
        border: none;
        border-radius: 30px;
        padding: 14px;

        position: relative;
        cursor: pointer;

        .arrow-right {
            position: absolute;
            right: 14px;
        }
    }

}