<main class="home-wrapper">
    <header>
        <h1>
            Seu Assistente Chegou!
        </h1>
        <p>
            Aqui você consegue tirar todas as
            suas dúvidas e aprender mais
            sobre o Museu do Doce de Pelotas!
        </p>
    </header>
    <section class="img-section">
        <icon-sparkle class="sparkle"></icon-sparkle>
        <img src="/assets/museu-home.png"/>
    </section>
    <button (click)="openChat()">
        vamos conversar?
        <icon-arrow-right class="arrow-right"></icon-arrow-right>
    </button>
</main>