:root {
    --primary-color: #FF8966; 
    --text-primary: #757575;
    --text-secondary: #3F3F3F;
    --text-bold: #3E3E3E;
    --online-color: #3ABF38;
    --bg-secondary: #F4F4F4;
    --bg-primary: #FFF;
    --border-color: #ECECEC;
}

* {
    font-family: "Nunito", sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
}